.App {
  text-align: center;
  background: #f8f8ff;
  padding-bottom: 40vh; /* temporary way of getting rid of white space */
}

.App-header {
  background-color: #C0EEF0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* error styling */
.error-input {
  border: 2px solid red;
  border-radius: 4px;
}

.error-text {
  margin: 0.25em 0 0 0;
  padding: 0;
  color: red;
  font-style: bold;
  font-size: 1.2rem;
}

/* Header.js */
.container-fluid .navbar-header img {
  height: 4rem;
}

.container-fluid .nav-links {
  text-decoration: none;
  color: #403ec2;
}

.container-fluid:hover .nav-links {
  opacity: 0.5;
}

.container-fluid:hover .nav-links:hover {
  opacity: 1;
}

/* GetIssues.js */
.issue-card {
  width: 90%;
  margin: 1rem auto;
  /* background: #3EBDC2; */
  background: #c0eef0;
  border-radius: 6px;
}

.issue-card .issue-desc {
  margin-top: 1rem;
  display: flex;
  flex-flow: row nowrap;
  /* background: lightgrey; */
  justify-content: space-around;
  align-items: center;
}

.issue-card .issue-desc .issue-img {
  width: 25%;
  border: 1px;
  background: lightgrey;
}

.issue-card .issue-desc .issue-img img {
  width: 100%;
  height: auto;
}

.issue-card .issue-desc .issue-details {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.issue-card .issue-actions {
  /* background: pink; */
  width: 50%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

/* Upvote.js */
.issue-upvote {
  display: flex;
  justify-content: space-around;
  width: 40%;
}