.App {
  text-align: center;
  background: #f8f8ff;
  padding-bottom: 40vh; /* temporary way of getting rid of white space */
}

/* Navbar styling */
.navigation {
  height: 15vh;
  background: #3EBDC2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  margin-bottom: 2rem;
}

.navigation .nav-links {
  text-decoration: none;
  color: #403ec2;
}

.navigation:hover .nav-links {
  opacity: 0.5;
}

.navigation:hover .nav-links:hover {
  opacity: 1;
}

/* LoginForm and RegistrationForm styling */
.login-form, .register-form {
  background-color: #3EBDC2;
  width: 40vw;
  margin: 5rem auto 0;
  padding: 1rem 0;
  border-radius: 20px;
}

.login-format, .register-format {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 50vh; */
}

.login-format .input, .register-format .input {
  width: 50%;
  text-align: center;
  margin: 1rem auto;
  border-radius: 10px;
}

.login-format button, .register-format button {
  width: 7rem;
  height: 2em;
  background: #5857a9;
  color: white;
  border: 0;
}

img {
  height: 20vh;
}

.error-input {
  border: 2px solid red;
  border-radius: 4px;
}

.error-text {
  margin: 0.25em 0 0 0;
  padding: 0;
  color: red;
  font-style: bold;
  font-size: 1.2rem;
}

/* SearchForm.js */
.search-form .header {
  /* background: lightgrey; */
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.search-form .header .search-link {
  width: 20%;
  margin-right: 5%;
}

.search-form .header .search-link button {
  text-decoration: none;
  width: 100%;
  height: 2rem;
  border: 0;
  border-radius: 3px;
  background: #5857a9;
  color: white;
}

.search-form .header .search-bar {
  width: 75%;
  /* background: grey; */
}

.search-form .header .search-bar input {
  width: 66%;
  height: 2rem;
  background: lightgrey;
  border: 0;
  border-radius: 3px;
  display: flex;
  flex-direction: flex-start;
  text-indent: 1rem;
}

/* Issue.js */
.issue-card {
  width: 90%;
  margin: 1rem auto;
  border: 2px solid #5857a9;
}

.issue-card .issue-desc {
  display: flex;
  justify-content: space-evenly;
}

.issue-card .issue-desc .issue-img {
  width: 40%;
  background: #5857a9;
  height: 12rem;
}

.issue-card .issue-desc .info {
  width: 40%;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.issue-card .upvotes {
  width: 20%;
  margin: 0 auto;
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.issue-card .upvotes button {
  height: 2rem;
  width: 5rem;
  background: #57a95a;
  /* color: white; */
  border: 1px solid white;
  border-radius: 3px;
}

.issue-card .upvotes button:focus {
  color: grey;
}